@use './themes.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: var(--main-bg);
}
