// Theme 1
:root {
    --main-bg: hsl(222, 26%, 31%);
    --keypad_toggle-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);

    --reset_del-key: hsl(225, 21%, 49%);
    --reset_del-shadow: hsl(224, 28%, 35%);

    --toggle-circle_keyEqual-bg: hsl(6, 63%, 50%);
    --keyEqual-shadow: hsl(6, 70%, 34%);

    --keys-bg: hsl(30, 25%, 89%);
    --keys-shadow: hsl(28, 16%, 65%);

    --key-text: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);

    --text-theme: #fff;
    --text-screen: #fff;
}

// Theme 2
.theme2 {
    --main-bg: hsl(0, 0%, 90%);
    --keypad_toggle-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);

    --reset_del-key: hsl(185, 42%, 37%);
    --reset_del-shadow: hsl(185, 58%, 25%);

    --toggle-circle_keyEqual-bg: hsl(25, 98%, 40%);
    --keyEqual-shadow: hsl(25, 99%, 27%);

    --keys-bg: hsl(45, 7%, 89%);
    --keys-shadow: hsl(35, 11%, 61%);

    --key-text: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);

    --text-theme: hsl(60, 10%, 19%);
    --text-screen: hsl(60, 10%, 19%);
}

// Theme 3
.theme3 {
    --main-bg: hsl(268, 75%, 9%);
    --keypad_toggle-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);

    --reset_del-key: hsl(281, 89%, 26%);
    --reset_del-shadow: hsl(285, 91%, 52%);

    --toggle-circle_keyEqual-bg: hsl(176, 100%, 44%);
    --keyEqual-shadow: hsl(177, 92%, 70%);

    --keys-bg: hsl(268, 47%, 21%);
    --keys-shadow: hsl(290, 70%, 36%);

    --key-text: hsl(52, 100%, 62%);
    --keyTextEqual: hsl(198, 20%, 13%);
    --white: hsl(0, 0%, 100%);

    --text-theme: hsl(52, 100%, 62%);
    --text-screen: hsl(52, 100%, 62%);
}
